<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="success" th:remove="tag">
    <div id="success-message">
        <article class="message is-success">
            <div class="message-header">
                <p>Success</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Successfully!
            </div>
        </article>
    </div>
</div>
<div th:fragment="failure" th:remove="tag">
    <div id="failure-message">
        <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">

            </div>
        </article>
    </div>
</div>
</html>