@mixin nCustomHr($color) {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: $color;
  color: $color;
  /* IE6 */
  @content;
}

@for $i from 1 through 10 {
  $offset: 10;
  $unit: 10px;
  .hr-#{$i*$offset} {
      @include nCustomHr(transparent);
      height: $i*$unit;
  }
}

.hide {
  display: none !important;
}

.clear-fix {
  border: 0;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}