.table {
  background-color: #fff;
  color: #363636;
  margin-bottom: 1.5rem;
  width: 100%;

  & img {
    max-width: 100px;
    height: auto;
  }

  & tr {
    & th, & td {
      &:last-child {
        width: 200px;
      }
    }
  }

  & th, & td {
    vertical-align: middle;
    text-align: center;
  }

  & a {
    margin: 0px 5px;
  }

  @media screen and (max-width: 1024px) {
    .table {
      overflow: auto;
      display: block;
    }
  }
}