<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('dashboard')"></head>
<body >
    <div th:replace="fragments/navbar :: navbar"></div>
      <div class="section">
        <div class="container">

          <div class="tabs" th:if="${CarList} and ${UserList} and ${NewsList}">
            <ul>
              <li onclick="scrollToTarget('#CarList')"><a>Cars</a></li>
              <li onclick="scrollToTarget('#UserList')"><a>Users</a></li>
              <li onclick="scrollToTarget('#NewsList')"><a>News</a></li>
            </ul>
          </div>

          <th:block th:if="${NewsList}">
            <section th:replace="fragments/list :: News(${NewsList})"></section>
          </th:block>

          <th:block th:if="${CarList}">
            <section th:replace="fragments/list :: Cars(${CarList})"></section>
          </th:block>

          <th:block th:if="${UserList}">
            <section th:replace="fragments/list :: Users(${UserList})"></section>
          </th:block>

        </div>
      </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>