<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Dashboard')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/message :: failure-left"></div>
<div th:replace="fragments/message :: success-right"></div>

<div class="section">
    <div class="container">
        <h2 class="form-title">Dashboard</h2>
        <hr class="hr-20" />

        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title text-center">
                        Brand
                    </h1>
                    <h2 class="subtitle text-center">
                        You can create a new brand !
                    </h2>
                    <div class="form-panel">
                        <input class="input" type="text" placeholder="Text input"/>
                        <hr class="hr-20"/>
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button type="submit" class="button is-dark">
                                    Create
                                </button>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-danger">
                                    Clear
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="hr-40"/>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title text-center">
                        Model
                    </h1>
                    <h2 class="subtitle text-center">
                        Model must be associated with a brand
                    </h2>
                    <div class="form-panel">
                        <input class="input" type="text" placeholder="Text input"/>
                        <hr class="hr-20"/>
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button type="submit" class="button is-dark">
                                    Create
                                </button>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-danger">
                                    Clear
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="hr-40"/>
        <section class="hero is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title text-center">
                        Primary title
                    </h1>
                    <h2 class="subtitle text-center">
                        Primary subtitle
                    </h2>
                    <div class="form-panel">
                        <input class="input" type="text" placeholder="Text input"/>
                        <hr class="hr-20"/>
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button type="submit" class="button is-dark">
                                    Create
                                </button>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-danger">
                                    Clear
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>