<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Dashboard')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/message :: failure-left"></div>

<div class="section">
    <div class="container">
        <h2 class="form-title">Dashboard</h2>
        <hr class="hr-20" />

        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title text-center">
                        Brand
                    </h1>
                    <h2 class="subtitle text-center">
                        You can create a new brand !
                    </h2>
                    <div class="form-panel">
                        <form name="brand">
                            <div class="field is-grouped">
                                <div class="control is-expanded">
                                    <input class="input" type="text" name="brand" placeholder="Type a brand name ..."/>
                                </div>
                                <!--<div class="control is-expanded">-->
                                    <!--<input class="input" type="text" name="brandChineseName" placeholder="Chinese Name (Optional)"/>-->
                                <!--</div>-->
                            </div>
                            <hr class="hr-20"/>
                            <div class="field is-grouped is-grouped-centered">
                                <p class="control">
                                    <button type="button" onclick="BrandCreate()" class="button is-dark">
                                        Create
                                    </button>
                                </p>
                                <p class="control">
                                    <button type="button" onclick="ResetForm('brand')" class="button is-danger">
                                        Clear
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <hr class="hr-40"/>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title text-center">
                        Model
                    </h1>
                    <h2 class="subtitle text-center">
                        Model must be associated with a brand
                    </h2>
                    <div class="form-panel">
                        <form name="model">
                            <div class="field is-grouped">
                                <div class="control">
                                    <div class="select is-info">
                                        <select class="brands">
                                            <option>Select Brand</option>
                                            <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control is-expanded">
                                    <input class="input" type="text" name="model" placeholder="Type a model name ..."/>
                                </div>
                            </div>
                            <div class="field is-grouped is-grouped-centered">
                                <p class="control">
                                    <button type="button" onclick="ModelCreate()" class="button is-dark">
                                        Create
                                    </button>
                                </p>
                                <p class="control">
                                    <button type="button" onclick="ResetForm('model')" class="button is-danger">
                                        Clear
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <hr class="hr-40"/>
        <section class="hero is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title text-center">
                        Car
                    </h1>
                    <h2 class="subtitle text-center">
                        Create a new car with Brand, Model and Year...
                    </h2>
                    <div class="form-panel">
                        <form name="car">
                            <div class="field is-grouped">
                                <div class="control is-expanded text-center">
                                    <div class="select is-info">
                                        <select class="brands">
                                            <option>Select Brand</option>
                                            <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control is-expanded text-center">
                                    <div class="select is-info">
                                        <select class="models">
                                            <option>Select Model</option>
                                            <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control is-expanded text-center">
                                    <div class="select is-info">
                                        <select class="years">
                                            <option>Select Year</option>
                                            <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-grouped is-grouped-centered">
                                <p class="control">
                                    <button type="button" onclick="CarCreate()" class="button is-dark">
                                        Create
                                    </button>
                                </p>
                                <p class="control">
                                    <button type="button" onclick="ResetForm('car')" class="button is-danger">
                                        Clear
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/message :: success-right"></div>

<script>
    $(document).ready(function() {
        Update();
    })
</script>

</body>
</html>