<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Login')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>