<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Register')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/message :: failure"></div>
<div th:replace="fragments/message :: success"></div>
<div class="section">
    <div class="container">
        <div class="form-panel">
            <hr class="hr-20"/>
            <h2 class="form-title">Register</h2>
            <hr class="hr-20"/>
            <form id="registerForm" name="registerForm" action="#" th:action="@{/register}" th:object="${registerForm}" method="post">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Username" th:field="*{username}" name="username" oninput="check(event, 'username')"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                    <div class="field errors"></div>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email" th:field="*{email}" name="email" oninput="check(event, 'email')"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                    <div class="field errors"></div>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" th:field="*{password}" name="password" oninput="check(event, 'password')"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                    <div class="field errors"></div>
                </div>
                <div class="field" >
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Confirmation" name="confirmation" oninput="check(event, 'confirmation')"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                    <div class="field errors"></div>
                </div>
                <hr class="hr-20"/>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <button class="button is-primary" type="submit">
                            Register
                        </button>
                    </p>
                    <p class="control">
                        <a class="button is-light" href="/" th:href="@{/}">
                            Cancel
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>