<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Register')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/message :: failure"></div>
<div th:replace="fragments/message :: success"></div>
<div class="section">
    <div class="container">
        <div class="form-panel">
            <hr class="hr-20"/>
            <h2 class="form-title">Register</h2>
            <hr class="hr-20"/>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>